@keyframes spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
.globe {
  fill: #ffff00;
  height: 10rem;
  width: auto;
  animation: spin 2s linear infinite;
}
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
