html {
  font-size: 62.5%;
}
body {
  max-width: 100%;
  min-height: 100vh;
  font-size: 1.rem;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 90%;
  width: 100rem;
}
@media (max-width: 425px) {
  html {
    font-size: 50%;
  }
  
}
